%h1.title
  = page_title! 'Integrantes'

%ul.content.integrantes
  %li.chachi
    = image_tag('img-integrante-chachi.png')
    %h3
      josé galarza
      %span
        “chachi”
    .content
      %p
        Primera guitarra de la banda. Nació el 06 de abril en el distrito de Pueblo Libre. Estudió la carrera de Arte en la Pontificia Universidad Católica del Perú sin embargo,
        su amor por la música lo inclinó a dedicarse a ella a tiempo completo.
  %li.pocho
    = image_tag('img-integrante-pocho.png')
    %h3
      arturo prieto
      %span
        “Pocho”
    .content
      %p
        Primera voz y segunda guitarra de la banda. Nació el 27 de noviembre. Egresado de la carrera de arquitectura de la Universidad Federico Villareal,
        pero decidió dedicarse de lleno a la música y convertirla en una profesión que 29 años después sigue ejerciendo.
  %li.cucho.last
    = image_tag('img-integrante-cucho.png')

    %h3
      lucio galarza
      %span
        “Cucho”
    .content
      %p
        Bajista de la banda. Nació el 27 de abril en Pueblo Libre. Estudió Derecho en la Universidad San Martín, su pasión por la música lo hizo cambiar de idea convirtiéndolo
        en uno de los músicos más conocidos dentro de la escena del rock peruano.


%section.rio-presentacion
  %h2.title Rio
  .imagen-encabezado
    = image_tag('slide-1.jpg')

  .content
    %p
      El trío, conformado por Pocho Prieto (voz y guitarra), Cucho Galarza (bajo) y Chachi Galarza (guitarra), nació a finales de los 70 en Pueblo Libre y debutó en 1984 con el sencillo “Son colegialas”, consiguiendo gran éxito. Dos años más tarde logró su primer número 1 con “Televidente”, una de las más populares en la historia del rock peruano. El suceso generado por “La Universidad”, otro de sus singles, dio paso al lanzamiento de su álbum debut, “Lo peor de todo”, consiguiendo la consagración nacional y su primera gira internacional por Bolivia y Chile.

    %p
      El LP “Dónde Vamos a Parar”, editado en 1988, no sólo confirmó su éxito nacional, sino que masificó su popularidad a través de la radio con canciones como “Todo estaba bien”, “Contéstame”, “Lo empiezo a odiar”, entre otras, que transformaron a Río en la principal agrupación de rock peruano. Años más tarde, superando modas, cambios en la música, y tras varios aclamados discos, Río edita su hasta ahora último trabajo de estudio, “Boomerang”, del cual se desprendió “Bella luna”, cuyo video fue dirigido por el premiado Percy Céspedez.

    %p
      En 2011 la canción “Eres mi princesa”, escrita por Juan Carlos Fernández, devolvió a Río al número uno de las listas. El tema, incluido en el soundtrack de la teleserie “Al fondo hay sitio”, se ha convertido en el último gran éxito de la banda, reafirmando su importancia en la escena musical nacional a lo largo de 29 años de ininterrumpida carrera, la cual se ha paseado varias veces por Estados Unidos, Argentina, Chile, Bolivia, España, Italia y se ha codeado en el escenario con estrellas de rock y pop como Los Enanitos Verdes, Jorge González, Miguel Mateos, Hombres G, GIT, Molotov, Vilma Palma, Air Supply, entre otros.
