%h1.title
  = page_title! 'Integrantes'

%ul.content.integrantes
  %li.chachi
    = image_tag('img-integrante-chachi.png')
    %h3
      josé galarza
      %span
        “chachi”
    .content
      %p
        Primera guitarra de la banda. Nació el 06 de abril en el distrito de Pueblo Libre. Estudió la carrera de Arte en la Pontificia Universidad Católica del Perú sin embargo,
        su amor por la música lo inclinó a dedicarse a ella a tiempo completo.
  %li.pocho
    = image_tag('img-integrante-pocho.png')
    %h3
      arturo prieto
      %span
        “Pocho”
    .content
      %p
        Primera voz y segunda guitarra de la banda. Nació el 27 de noviembre. Egresado de la carrera de arquitectura de la Universidad Federico Villareal,
        pero decidió dedicarse de lleno a la música y convertirla en una profesión que 29 años después sigue ejerciendo.
  %li.cucho.last
    = image_tag('img-integrante-cucho.png')

    %h3
      lucio galarza
      %span
        “Cucho”
    .content
      %p
        Bajista de la banda. Nació el 27 de abril en Pueblo Libre. Estudió Derecho en la Universidad San Martín, su pasión por la música lo hizo cambiar de idea convirtiéndolo
        en uno de los músicos más conocidos dentro de la escena del rock peruano.


%section.rio-presentacion
  %h2.title Rio
  .imagen-encabezado
    = image_tag('slide-1.jpg')

  .content
    %p
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

    %p
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
