= form_for @diapositiva, html: { multipart: true } do |f|
  - if @diapositiva.errors.any?
    #error_explanation
      %h2= "#{pluralize(@diapositiva.errors.count, "error")} prohibited this diapositiva from being saved:"
      %ul
        - @diapositiva.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo, "Título"
    = f.text_field :titulo
  .field
    = f.label :link
    = f.text_field :link

  .field.field-imagen
    = f.label :slide, "Imagen"
    = f.file_field :slide

  .field.field-video
    = f.label :video
    = f.text_field :video
  .actions
    = f.submit 'Guardar'
