%h1 Listando banners

%table
  %tr
    %th Imagen
    %th Título
    %th Link
    %th Video
    %th
    %th

  - @diapositivas.each do |diapositiva|
    %tr
      %td= diapositiva.slide
      %td= diapositiva.titulo
      %td= diapositiva.link
      %td= diapositiva.video
      %td= link_to 'Editar', edit_diapositiva_path(diapositiva)
      %td= link_to 'Eliminar', diapositiva, :method => :delete, :data => { :confirm => '¿Estás seguro?' }

%br

= link_to 'Nuevo Banner', new_diapositiva_path
