%h1.title
  = page_title! 'Banners'


- if current_admin
  .administrate.head
    = link_to 'Nuevo Banner', new_diapositiva_path, class: 'button-create'

%table
  %tr
    %th Imagen
    %th Título
    %th Link
    %th Video
    %th
    %th

  - @diapositivas.each do |diapositiva|
    %tr
      %td= image_tag diapositiva.slide_url(:thumb)
      %td= diapositiva.titulo
      %td= diapositiva.link
      %td= diapositiva.video
      %td= link_to 'Editar', edit_diapositiva_path(diapositiva), class: 'button-create'
      %td= link_to 'Eliminar', diapositiva, :method => :delete, :data => { :confirm => '¿Estás seguro?' }, class: 'button-delete'


