%h1.title
  = page_title! 'Banners'


- if current_admin
  .administrate.head
    = link_to 'Nuevo Banner', new_diapositiva_path, class: 'button-create'

%ul.content-default
  - @diapositivas.each do |diapositiva|
    %li
      .multimedia-content
        = image_tag diapositiva.slide_url(:thumb)
        = diapositiva.video_html
      .text-content
        %h3.title
          = diapositiva.titulo
        = link_to diapositiva.link, diapositiva.link, :target => '_blank'
        - if current_admin
          .administrate.iterate
            = link_to 'Editar', edit_diapositiva_path(diapositiva), class: 'button-create'
            = link_to 'Eliminar', diapositiva, :method => :delete, :data => { :confirm => '¿Estás seguro?' }, class: 'button-delete'

