%p
  %b Imagen:
  = @diapositiva.slide
%p
  %b Título:
  = @diapositiva.titulo
%p
  %b Link:
  = @diapositiva.link
%p
  %b Video:
  = @diapositiva.video

= link_to 'Editar', edit_diapositiva_path(@diapositiva)
= link_to 'Regresar', diapositivas_path
