%h1 Mensajes Recibidos

%table
  %tr
    %th Nombre
    %th Email
    %th Télefono
    %th Mensaje
    %th
    %th

  - @contactos.each do |contacto|
    %tr
      %td= contacto.nombre
      %td= contacto.email
      %td= contacto.telefono
      %td= contacto.mensaje
      %td= link_to 'Ver', contacto
      %td= link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => '¿Estás seguro?' }

= will_paginate @contactos
