%h1.title
  = page_title! 'Mensajes Recibidos'

%table.table.table-bordered.table-condensed.table-hover.table-striped
  %tr
    %th Nombre
    %th Email
    %th Télefono
    %th Mensaje
    %th
    %th

  - @contactos.each do |contacto|
    %tr
      %td= contacto.nombre
      %td= contacto.email
      %td= contacto.telefono
      %td= truncate(contacto.mensaje, :length => 20)
      %td= link_to 'Ver', contacto, :class => 'button-readmore'
      %td= link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => '¿Estás seguro?' }, :class => 'button-delete'

= will_paginate @contactos
