%h1.title
  = page_title! @contacto.nombre


.content-default
  .contacto-block
    %b Email:
    %span
      = @contacto.email
    %span.separar
      |
    %b Télefono:

    %span
      = @contacto.telefono
  .contacto-block
    %b Fecha
    .contacto-mensaje-inner
      = l @contacto.created_at, :format => :short
  .contacto-block
    %b Mensaje
    .contacto-mensaje-inner
      = @contacto.mensaje

= link_to 'Regresar', contactos_path, :class => 'button-back'
