#myCarousel.carousel.slide
  %ol.carousel-indicators
    - @diapositivas.each_with_index do |slide, index|
      %li{:"data-target" => "#myCarousel", :"data-slide-to" => index}

  <!-- Carousel items -->
  .carousel-inner
    - @diapositivas.each do |slide|
      .item
        - if slide.video?
          = slide.video_html
        - else
          = image_tag slide.slide_url(:regular)
          .carousel-caption
            = link_to slide.titulo, slide.link

  <!-- Carousel nav -->
  = link_to raw('&lsaquo;'), '#myCarousel', :"data-slide" => 'prev', :class => 'carousel-control left'
  = link_to raw('&rsaquo;'), '#myCarousel', :"data-slide" => 'next', :class => 'carousel-control right'

:javascript
  $(document).ready(function() {
    $('.carousel-inner .item:eq(0), .carousel-indicators li:eq(0)').addClass('active');

  });




