.proximos-eventos
  %h2.title Próximos Eventos
  %table
    - @eventos.each do |evento|
      %tr
        %td.fecha
          = l evento.fecha, :format => :short
        %td.lugar
          = evento.lugar
        %td.nombre
          = evento.nombre

= render 'slider'

.redes-sociales
  %h2.title Síguenos
  .red-social.facebook
    = render 'shared/facebook_likebox'
  .red-social.twitter
    = render 'shared/twitter_timeline'

.rio-presentacion
  %h2.title Rio
  .content
    %p
      RIO es una de las bandas más representativas del rock peruano, con más de 29 años de trayectoria sobre los escenarios han llevado su música por
      todo el Perú, América y Europa. En 1984 lanzan su primer single "Son Colegialas", pero recién en 1985 con su segundo single "Televidente" logran posesionarse
      en lo más alto de la escena del rock peruano. Temas como "Lo Peor de Todo", "La Universidad", "Todo Estaba Bien", "Contéstame", "Lo Empiezo a Odiar", "Carol Quiere un Viaje a Londres"
      "Al Norte de América" se han convertido en clásicos dentro de la discografía del rock peruano.
    %p
      Actualmente, RIO se encuentra en vigencia debido a la gran cantidad de jóvenes que los siguen en cada concierto y es que a pesar de ser una banda de rock que
      apareció en los 80s , RIO ha logrado que su música rompa cualquier barrera de edad, estilo y género haciendo que su másica forme parte de la historia del
      rock peruano.



.rio-youtube
  %h2.title
    = link_to 'Visita nuestro canal de Youtube', 'https://www.youtube.com/user/RioOficial', target: '_blank'

