- if current_admin
  .administrate.head
    = link_to 'Nuevo Evento', new_evento_path, class: 'button-create'

%table.content.eventos
  - @eventos.each do |evento|
    %tr
      %td.evento-fecha
        .dia= l evento.fecha, :format => :day_numeric
        .mes= l evento.fecha, :format => :month
      %td.evento-info
        %span.ev-nombre= evento.nombre
        %span.ev-lugar= evento.lugar
        - if current_admin
          .administrate.iterate
            = link_to 'Editar', edit_evento_path(evento), class: 'button-create'
            = link_to 'Eliminar', evento, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-delete'

= will_paginate @eventos


