%h1 Listando eventos

%table
  %tr
    %th Nombre
    %th Ciudad
    %th Fecha
    %th
    %th

  - @eventos.each do |evento|
    %tr
      %td= evento.nombre
      %td= evento.lugar
      %td= evento.fecha
      %td= link_to 'Editar', edit_evento_path(evento)
      %td= link_to 'Eliminar', evento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuevo Evento', new_evento_path
