%h1.title
  = page_title! 'Música'


- if current_admin
  .administrate.head
    = link_to 'Nuevo Álbum', new_album_path

%ul.content.album
  - @albums.each do |album|
    %li
      .head 
        %h2.title
          = album.titulo
          %b.year= album.ano
      %p 
        = album.creditos 
      
      = raw(album.codigo_embed)


%table{:style => 'display: none'}
  %tr
    %th Título
    %th Código embed
    %th Año
    %th Créditos
    %th
    %th

  - @albums.each do |album|
    %tr
      %td= album.titulo
      %td= raw(album.codigo_embed)
      %td= album.ano
      %td= album.creditos
      %td= link_to 'Editar', edit_album_path(album)
      %td= link_to 'Eliminar', album, :method => :delete, :data => { :confirm => '¿Estás seguro?' }

