%h1.title
  = page_title! 'Música'


- if current_admin
  .administrate.head
    = link_to 'Nuevo Álbum', new_album_path, class: 'button-create'

%ul.content.album
  - @albums.each do |album|
    %li
      .head
        %h2.title
          = album.titulo
          %b.year= album.ano
      %p
        = album.creditos
      = album.codigo_embed_html
      - if current_admin
        .administrate.iterate
          = link_to 'Editar', edit_album_path(album), class: 'button-create'
          = link_to 'Eliminar', album, :method => :delete, :data => { :confirm => '¿Estás seguro?' }, class: 'button-delete'


