%ul.menu

  / menu_li(page_name, controller_name, path)
  = menu_li('Inicio', 'homes', root_path)
  = menu_li('Eventos', 'eventos', eventos_path)
  = menu_li('Biografía', 'biografia', biografia_path)
  = menu_li('Videos', 'videos', 'videos')
  = menu_li('Música', 'musica', 'musica')
  = menu_li('Contacto', 'contactos', new_contacto_path )
  - if current_admin
    = menu_li('Diapositivas', 'diapositivas', diapositivas_path)

