%ul.menu

  = menu_li('Inicio', 'homes', root_path)
  = menu_li('Eventos', 'eventos', eventos_path)
  - unless current_admin
    = menu_li('Biografía', 'biografia', biografia_path)
    %li
      = link_to 'Videos', 'https://www.youtube.com/user/RioOficial', target: '_blank'
  = menu_li('Música', 'albums', albums_path)
  - unless current_admin
    = menu_li('Contacto', 'contactos', new_contacto_path )
  - if current_admin
    = menu_li('Mensajes', 'mensajes', contactos_path )
    = menu_li('Banners', 'diapositivas', diapositivas_path)
    %li
      = link_to 'Cerrar Sesión', destroy_admin_session_path, method: :delete
