!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application.css"
    = yield(:css)
    = javascript_include_tag 'application'
    = render 'layouts/lavalamp_menu'
    = csrf_meta_tag
    = yield(:javascript)
    = yield(:head)

  %body{id: bodyid, class: bodyclass}
    %header{:role => 'banner', :class => 'main-header'}
      .container
        %h1
          = link_to image_tag('logo.png', alt: 'Rio'), root_path, id: 'logo'
        - if current_admin
          = render 'layouts/cerrar_sesion'
        %nav.main-menu
          %h6.element-invisible
            Main Navigation
          = render 'layouts/menu'


    %section#content
      .container
        .contratos
          %h2.title Contratos
          = render 'shared/info_contratos' 
        = yield

    %footer.main-footer
      .container
        .footer-top
          = link_to image_tag('logo.png', alt: 'Rio'), root_path, id: 'footer-logo'
          = link_to image_tag('btn-compartir.png'), '/', target: '_blank', class: 'share-website'
        .footer-bottom
          = render 'shared/share_links'
          %nav.footer-menu
            %h2.element-invisible Footer navigation
            = render 'layouts/menu'
          %p.copyright Rio Producciones todos los derechos reservados 2012.
    #container{:style => 'display: none'}
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

