/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7 lt-ie10 ie" lang="en">
/[if IE 7] <html class="no-js ie7 lt-ie9 lt-ie8 lt-ie10 ie" lang="en">
/[if IE 8] <html class="no-js ie8 lt-ie9 lt-ie10 ie" lang="en">
/[if IE 9] <html class="no-js ie9 lt-ie10 ie" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 9]><!
%html.no-js.gt-ie9.non-ie{:lang => "en"}
  / <![endif]
  %head
    %title= page_title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    == <meta name="keywords" content="banda de rock peruano, grupo rio, rock ochentas peru" />
    == <meta name="description" content="Rio es una de las bandas m치s representativas del rock peruano. Con m치s de 29 a침os de trayectoria ininterrumpida en los escenarios." />
    == <meta name="googlebot" content="index,follow" />
    == <meta name="robots" content="index,follow" />
    == <meta name="Revisit-After" content="7 days" />
    == <meta name="city" content="Lima" />
    == <meta name="country" content="Peru" />
    == <meta name="state" content="Lima" />
    == <meta name="subject" content="Music" />
    == <meta name="author" content="RIO Producciones" />
    == <meta name="copyright" content="RIO &copy; Todos los derechos reservados." />
    == <meta name="geo.placename" content="Lima, Peru" />
    == <meta name="geo.region" content="PE-Lima" />
    == <meta name="author" content="humans.txt" />

    = favicon_link_tag 'favicon.png'

    = stylesheet_link_tag "application.css"
    = yield(:css)
    = stylesheet_link_tag 'http://www.arcomega.pe/css-rails/ie-rio.css'

    = javascript_include_tag 'application'
    = render 'layouts/lavalamp_menu'

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    = csrf_meta_tag

    = yield(:javascript)
    = yield(:head)

  %body{id: bodyid, class: bodyclass}
    %header{:role => 'banner', :class => 'main-header'}
      .container
        %h1
          = link_to image_tag('logo.png', alt: 'Rio'), root_path, id: 'logo'
        %nav.main-menu
          %h6.element-invisible
            Main Navigation
          = render 'layouts/menu'


    %section#content
      .container
        = render 'layouts/notices'
        .contratos
          %h2.title Contratos
          = render 'shared/info_contratos'
        = yield

    %footer.main-footer
      .container
        .footer-top
          = link_to image_tag('logo.png', alt: 'Rio'), root_path, id: 'footer-logo'
          = link_to image_tag('btn-compartir.png'), 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, target: '_blank', class: 'share-website'
        .footer-bottom
          = render 'shared/share_links'
          %nav.footer-menu
            %h2.element-invisible Footer navigation
            = render 'layouts/menu'
          %p.copyright
            = 'Rio Producciones todos los derechos reservados ' + Time.now.year.to_s + ' | '
            = link_to 'Dise침o web y desarrollo web por Kosmyka', 'http://www.kosmyka.com', target: '_blank'
    = render 'shared/google_analytics'
