!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application.css"
    = yield(:css)
    = javascript_include_tag 'application'
    = #javascript_include_tag 'http://code.jquery.com/jquery-migrate-1.0.0.js'
    = csrf_meta_tag
    = yield(:javascript)
    = yield(:head)

  %body
    %header{:role => 'banner'}
      .container
        %h1
          = link_to image_tag('logo.png', alt: 'Rio'), root_path, id: 'logo'
        %nav.main-menu.menu
          %h6.element-invisible
            Main Navigation
          = render 'layouts/menu'


    %section
      .container
        = yield

    %footer
      .container

    #container{:style => 'display: none'}
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

